## Seguindo nossa trilha em **Estatística**

Hoje veremos:

* Medidas de tendência central
* Medidas de dispersão
* Medidas de posição

### Medidas de tendência central

**Mas o que são?**

São medidas que mostram o "centro" dos dados de diversas formas. 

Um exemplo é pensarmos na média de determinados valores. Claro que não podemos nos esquecer que o centro, também, pode ser o _centro geométrico_.

**Ex**: divisão de comidas entre irmãos...rs

Ainda podemos pensar sobre o elemento central, como sendo o valor que mais aparece nos dados

**E quem são?** 

* Média (mean) : soma dos valores dividido pelo total 
* Mediana (median) : valor que está no centro "espacial" ou "geométrico" dos valores
* Moda (mode) : valor que aparece com maior frequência nos dados

Vamos trabalhar com o módulo `statistics` do __Python__, assim:

```
from statistics import (
  mean,
  median,
  mode
)
```

**OBS:** tenho um __SPOILER__ sobre a _moda_ (`mode`). Se você estiver lendo este material em casa, contarei em sala de aula, mas você estiver em sala de aula, vou contar AGORA! 

Maaaas, se você já assisiu a aula, deve se lembrar não é?? 

__VALE LEMBRAR__:

> Conhecer essas medidas é __essencial__ para entender melhor nossos dados!

**Ex**: No tratamento de dados faltantes, por exemplo, parte essencial da modelagem preditiva, usamos estas medidas para o input dos valores

**Outro exemplo**: é no tratamento de __outliers__, saber que esses valores "_fora da curva_" influenciam **MUITO** a _média_, porém, não influenciam a _mediana_

#### Exemplos práticos

In [1]:
from statistics import (
    mean,
    median,
    mode,
    multimode
)

In [3]:
idades = [31, 35, 36, 39, 41, 41, 42, 43, 45, 47, 47, 48, 48, 52, 52, 52, 54, 56, 56, 58, 115]

# Vamos calcular a média
print(f'Média: {int(mean(idades))}')

# Vamos calular a mediana
print(f'Mediana: {median(idades)}')

# Vamos calcular a mediana de uma lista com quantidade par de elementos
# print(len(idades))

# Vamos calcular a moda 
print(f'Moda: {mode(idades)}')

# Vamos calcular a moda para elementos que mais aparecem
print(f'Modas: {multimode(idades)}')

Média: 49
Mediana: 47
Moda: 52
Modas: [52]

> A __mediana__ não liga para _outliers_, pois ela sempre olhará para a posição central e, claro, não é influenciada por eles

> De forma semelhante, a __moda__ não liga para os valores _outliers_, pois conta o número de ocorrências dos dados

**Média Salarial**

* Empresa A : R$8.400,00

* Empresa B : R$3.487,50

In [ ]:
# Exemplo clássico de salário
from statistics import (
    mean,
    median
)

empresa_a = [1200, 1500, 1700, 2200, 3000, 3500, 4100, 50000]
empresa_b = [2000, 2300, 2500, 2900, 3500, 4200, 4800, 5700]

# display(mean(empresa_a))
# display(mean(empresa_b))
# display(median(empresa_a))
# display(median(empresa_b))

### Medidas de dispersão

Agora que acabamos de conhecer as medidas de tendência central, é importante, também, conhecermos o quão dispersos estão nossos dados.

Vamos pensar em alguns exemplos?

* Time de futebol

* Colaboradores de um departamento de TI

* Crianças do 6º ano do ensino fundamental

* Pessoas numa praça

__OBS__: olhando para as idades, ok?

Repare que somente com as medidas de tendência central, podemos perder muitas informações valiosas de como nossos dados estão se comportando

In [ ]:
from statistics import (
    mean,
    median
)

# Numa praça
praca = [6, 10, 11, 15, 16, 19, 22, 25, 27, 27, 29, 40, 40, 40, 50, 60, 65, 67, 76, 77]
print(f'Praça: {round(mean(praca),1)}')

# Num time de futebol
vascao = [20, 21, 21, 22, 22, 23, 24, 24, 24, 25, 25, 25, 27, 28, 28, 29, 29, 29, 29, 30]
print(f'Vascão: {round(mean(vascao),1)}')

Praça: 36.1
Vascão: 25.2

Repare como as médias não são muito distantes, vamos lá, seja legal e concorde! :-P 

Porém as idades variam muito na amostra da praça em relação a amostra do time titular do Vascão.

E é aí que as _medidas de dispersão_ entram em ação, para calcular esta diferença. As principais medidas de dispersão são a variância, desvio padrão e o coeficiente de variação.

* __Variância__ : calcula a dispersão dos dados em volta da média. Então, para calcularmos a _variância_ devemos calcular a média antes. 

__OBS__: a variância se dá pela soma do quadrado da diferença de cada valor nos dados com a média, dividido pelo total de observações.

![formula_variancia.webp]()

In [ ]:
from statistics import variance

# Numa praça
praca = [6, 10, 11, 15, 16, 19, 22, 25, 27, 27, 29, 40, 40, 40, 50, 60, 65, 67, 76, 77]
print(f'Praça: Média={round(mean(praca),1)}')
print(f'Praça: Variância:{round(variance(praca),2)}')

# Num time de futebol
vascao = [20, 21, 21, 22, 22, 23, 24, 24, 24, 25, 25, 25, 27, 28, 28, 29, 29, 29, 29, 30]
print(f'Vascão: Média={round(mean(vascao),1)}')
print(f'Vascão: Variância={round(variance(vascao),2)}')

Praça: Média=36.1
Praça: Variância:513.78
Vascão: Média=25.2
Vascão: Variância=10.09

__Variância__ calcula a dispersão dos dados em volta da média, ou seja, quanto mais perto da média os valores são, menor é a variância.

Quanto mais longe os valores são da média, maior é a variância.

__Desvio padrão__ : é a raiz quadrada da variância. Os valores ficam muito mais próximos das unidades reais que estamos medindo.

In [ ]:
from statistics import (
    mean,
    variance,
    stdev
)

# Numa praça
praca = [6, 10, 11, 15, 16, 19, 22, 25, 27, 27, 29, 40, 40, 40, 50, 60, 65, 67, 76, 77]
print(f'Praça: Média:{round(mean(praca),1)}')
print(f'Praça: Variância:{round(variance(praca),2)}')
print(f'Parça: Desvio padrão:{round(stdev(praca),2)}')

# Num time de futebol
vascao = [20, 21, 21, 22, 22, 23, 24, 24, 24, 25, 25, 25, 27, 28, 28, 29, 29, 29, 29, 30]
print(f'Vascão: Média:{round(mean(vascao),1)}')
print(f'Vascão: Variância:{round(variance(vascao),2)}')
print(f'Vascão: Desvio padrão:{round(stdev(vascao),2)}')

Praça: Média=36.1
Praça: Variância:513.78
Parça: Desvio padrão:22.67
Vascão: Média=25.2
Vascão: Variância=10.09
Vascão: Desvio padrão:3.18

__Coeficiente de variação__ : é o cálculo do desvio padrão pela média

> É como se fosse uma medida relativa e dispersão e é muito útil para comparar bases com valores diferentes

O coeficiente de variação faz uma medida relativa à própria média para que essa comparação seja mais fácil

In [ ]:
from statistics import (
    stdev,
    mean
)

# Preços de hamburgueres
dolares = [4, 2, 4, 1, 4, 4, 4, 4, 1, 1]
reais = [20, 10, 20, 5, 20, 20, 20, 20, 5, 5]

cv = lambda x: stdev(x) / mean(x)

print(f'Desvio padrão [dólares]: {round(stdev(dolares),2)}')
print(f'Desvio padrão [reais]: {round(stdev(reais),2)}')

print(f'Coeficiente de variação [dólares]: {cv(dolares):.4f}')
print(f'Coeficiente de variação [reais]: {cv(reais):.4f}')

Desvio padrão [dólares]: 1.45
Desvio padrão [reais]: 7.25
Coeficiente de variação [dólares]: 0.4997
Coeficiente de variação [reais]: 0.4997

### Medidas de posição

Além das já conhecidas medidas de tendência central (média, mediana e moda), existem outras medidas de posição.

As _separatrizes_ são os cortes que separam nossos dados em partes iguais

> A __mediana__ é uma separatriz que divide os dados em duas partes iguais (com a mesma quantidade de elementos)

Mas ainda temos: 

* os quartis
* os decis 
* os percentis

### Exemplo prático

In [ ]:
from random import shuffle
from statistics import median

numeros = [2, 3, 3, 5, 5, 8, 13, 18, 21, 23, 25, 26, 29, 32, 34, 36, 40, 40, 45, 50, 50]
shuffle(numeros)
print('Valores embaralhados')
print(numeros)

print('Valores ordenados')
numeros.sort()
print(numeros)

print(f'Mediana: {median(numeros)}')

Valores embaralhados
[3, 13, 2, 32, 21, 34, 50, 25, 5, 5, 26, 3, 8, 29, 50, 23, 40, 36, 45, 40, 18]
Valores ordenados
[2, 3, 3, 5, 5, 8, 13, 18, 21, 23, 25, 26, 29, 32, 34, 36, 40, 40, 45, 50, 50]
Mediana: 25

In [ ]:
numeros = [2, 3, 3, 5, 5, 8, 13, 18, 21, 23, 25, 26, 29, 32, 34, 36, 40, 40, 45, 50, 50]
len(numeros)

21

In [ ]:
numeros = [2, 3, 3, 5, 5, 8, 13, 18, 21, 23, 25, 26, 29, 32, 34, 36, 40, 40, 45, 50, 50]

# Mediana 25
# 1º quartil 5
# 2º quartil ou mediana 25
# 3º quartil 36

# 1º decil 3
# 2º decil entre os 2 cincos
# 3º decil 13
# 4º decil 21
# 5º decil ou mediana 25
# 6º decil 29
# 7º decil 34
# 8º decil 40
# 9º decil 45

> Importante das medidas de posição é entender que as separações são "geométricas"

Logo, _média_, _valores altos ou baixos_, nada disso importa, a posição de "corte" é a única coisa que a separatriz consegue enxergar.

> Para a Ciência de Dados é importante saber interpretar as separatrizes

Assim, desta forma temos: 

* A mediana separa os dados na metade, ou seja, 50% dos valores são acima da mediana e 50% são abaixo dela

* A mediana é, também, conhecida como o 2º quartil e o 5º decil e o 50º percentil, pois ela separa os dados ao meio

* As separatrizes dividem os dados em partes iguais sendo:

  * __quartis__ : separa os dados em 4 partes iguais
  * __decis__ : separa os dados em 10 partes iguais 
  * __percentis__ : separa os dados em 100 partes iguais

## Atividade prática

### Dataset __Wine Billing__

In [ ]:
import pandas as pd

In [ ]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';')
df.head(2)

         data  estilo  quantidade de garrafas  preço da garrafa
0  2021-11-01   tinto                       7            219.69
1  2021-11-01  branco                       4            118.83

In [ ]:
df.describe()

       quantidade de garrafas  preço da garrafa
count               45.000000         45.000000
mean                 8.244444        138.060222
std                  4.156898         49.253588
min                  1.000000         77.220000
25%                  5.000000        103.630000
50%                  8.000000        110.380000
75%                 10.000000        207.260000
max                 20.000000        227.980000

In [ ]:
from statistics import variance

preco = df['preço da garrafa'].to_list()
qtde = df['quantidade de garrafas'].to_list()
preco.sort()
qtde.sort()
print(f'Variância [Preço da Garrafa]: {variance(preco)}')
print(f'Variância [Quantidade de Garrafas]: {variance(qtde)}')

Variância [Preço da Garrafa]: 2425.915979494949
Variância [Quantidade de Garrafas]: 17.27979797979798

### Dataset Wines

In [ ]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv'
df2 = pd.read_csv(dataset)
df2.head(2)

         date   label  vintage  style   country   price  quantity  rate
0  2021-01-04  Wine K     2002  White  Portugal  144.22         9    97
1  2021-03-11  Wine J     1982    Red  Portugal  244.80         3    76

In [ ]:
df2.describe()

            vintage         price      quantity          rate
count  10000.000000  10000.000000  10000.000000  10000.000000
mean    2001.404200    213.907129      8.015500     87.484200
std       11.550375    134.010508      4.280244      7.475717
min     1982.000000     50.010000      1.000000     75.000000
25%     1991.000000    105.617500      4.000000     81.000000
50%     2001.000000    178.240000      8.000000     88.000000
75%     2011.000000    294.087500     12.000000     94.000000
max     2021.000000   1107.890000     15.000000    100.000000

## Terminamos por hoje!